.wrapper{
    display: flex;
    align-items: center;
    position: sticky;
    padding: 20px;
    border-bottom: 1px dashed var(--green-theme-main-color);

    h2
    {
        font-size: 30px;
        letter-spacing: 1.5px;
        line-height: 1rem;
        text-transform: capitalize;
        color: var(--green-theme-main-color);
        display: flex;
        flex-grow: 1;
    }

    span
    {
        svg{
            color: var(--green-theme-main-color);
        }
    }
}

.portfolio
{
    position: sticky;

    &__content
    {
        padding: 20px;
        width: 100%;

        &__filter{
            display: inline-block;
            margin: 0 auto;
            border-radius: 25px;
            border: 1px dashed var(--green-theme-main-color);

            li
            {
                color: var(--green-theme-sub-text-color);
                font-size: 16px;
                list-style-type: none;
                display: inline-block;
                cursor: pointer;
                padding: 15px;
                position: relative;
                overflow: hidden;
            }
        }
    }
}

