.wrapper{
    display: flex;
    align-items: center;
    position: sticky;
    padding: 20px;
    border-bottom: 1px dashed var(--green-theme-main-color);

    h2
    {
        font-size: 30px;
        letter-spacing: 1.5px;
        line-height: 1rem;
        text-transform: capitalize;
        color: var(--green-theme-main-color);
        display: flex;
        flex-grow: 1;
    }

    span
    {
        svg{
            color: var(--green-theme-main-color);
        }
    }
}

.portfolio
{
    position: sticky;

    &__content
    {
        padding: 20px;
        width: 100%;

        &__filter{
            display: inline-block;
            margin: 0 auto;
            border-radius: 25px;
            border: 1px dashed var(--green-theme-main-color);

            li
            {
                color: var(--green-theme-sub-text-color);
                font-size: 16px;
                list-style-type: none;
                display: inline-block;
                cursor: pointer;
                padding: 15px;
                position: relative;
                overflow: hidden;

                &.active
                {
                    background-color: var(--green-theme-main-color);
                    border-radius: 25px;
                }
            }
        }
        &__cards
        {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-auto-rows: auto;
            gap: 1rem;
            margin-top: 20px;

            &__item
            {
                position: relative;

                &__name
                {
                    margin-bottom: 10px;
                    margin-top: 10px;
                    color: var(--green-theme-main-color);
                    font-size: 26px;
                    text-align: center;
                }
            
            &:hover .overlay
            {
                opacity: 1;
                a
                {
                    text-decoration: none;
                }
            }

                &__img-wrapper
                {
                    //height: 100%;
                    cursor: pointer;
                    a
                    {
                        height: 100%;
                        img
                        {
                            //object-fit: contain;
                            width: 100%;
                            border: 1px dashed var(--green-theme-main-color);
                        }

                        img:hover
                        {
                            border: 1px dashed var(--green-theme-hover-color);
                        }
                    }
                }
            }
        }
    }
    .overlay
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: var(--green-theme-main-color);
        opacity: 0;
        transition: 0.5 ease;

        div
        {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            p
            {
                color: var(--green-theme-sub-text-color);
                margin: 0px;
                font-size: 2.5rem;
                position: relative;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}

@media only screen and (max-width : 768px)
{
    .portfolio__content__cards
    {
        display: flex;
        flex-direction: column;
    }

    .portfolio__content__cards__item__name
    {
        font-size: 7vw;
    }
}


