.wrapper{
    display: flex;
    align-items: center;
    position: sticky;
    padding: 20px;
    border-bottom: 1px dashed var(--green-theme-main-color);

    h2
    {
        font-size: 30px;
        letter-spacing: 1.5px;
        line-height: 1rem;
        text-transform: capitalize;
        color: var(--green-theme-main-color);
        display: flex;
        flex-grow: 1;
    }

    span
    {
        svg{
            color: var(--green-theme-main-color);
        }
    }
}

.resume
{
    position: sticky;
}

.timeline
{
    display: flex;
    width: 100%;
    padding: 20px;

    &__experience
    {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__header-text
        {
            display: flex;
            color: var(--green-theme-main-color);
            font-size: 20px;
        }

        &__vertical-timeline-element
        {
            color: var(--green-theme-main-color);
            font-size: 15px;
        }

        .vertical-timeline-element-title-wrapper
        {
            display: flex;
            flex-direction: column;

            p
            {
                color: var( --green-theme-sub-text-color);
                font-size: 15px;
            }
        }

        .vertical-timeline-element-content-arrow
        {
            display: none;
        }

        .vertical-timeline-element-content .vertical-timeline-element-date
        {
            opacity: 1;
            font-size: 15px;
        }
    }
}

@media only screen and (max-width : 768px)
{
    .timeline
    {
        flex-direction: column;
    }
}