.home
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    

    &__text-wrapper
    {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        
        h1
        {
            color: var(--green-theme-main-color);
            margin: 0 auto;
            font-size: 4.1rem;
            line-height: 5rem;
            position: relative;
            overflow: hidden;
            border-right: .10em solid var(--green-theme-main-color);
            white-space: nowrap;
            animation: typing 3s steps(40, end),
            blink-caret .75s step-end infinite;
        }

        &__icons
        {
            display: flex;
            justify-content: center;
            align-content: center;

            span
            {
                padding: 20px;
                align-self: center;
                position: sticky;
                svg{
                    color: var(--green-theme-main-color);
                }
                svg:hover
                {
                    color: var(--green-theme-hover-color);
                }
            }    
        }   
    }

    &__contact-me
    {
        display: flex;
        justify-content: center;
        position: sticky;
        margin-top: 5px;

    button
        {
            cursor: pointer;
            padding: 10px 65px;
            margin: 10px;
            font-size: 1.6rem;
            background: transparent;
            color: var(--green-theme-main-color);
            border: 1.5px solid var(--green-theme-main-color);
            border-radius: 4px;
            font-weight: 500px;
        }
    button:hover
        {
            color:var(--green-theme-hover-color);
            border: 1.5px solid var(--green-theme-hover-color);
        }
    }
}

@media only screen and (max-width: 550px)
{
    .home__text-wrapper h1
    {
        font-size: 2.2rem;
    }

    .home__text-wrapper
    {
        justify-content:start;
        margin-top: 20px;
    }
    .home__contact-me
    {
        flex-direction: column;
    }
}

@media only screen and (max-width: 400px)
{
    .home__text-wrapper h1
    {
        font-size: 2.0rem;
    }
    .home__text-wrapper__icons
    {
        flex-direction: column;
    }
}

@media only screen and (min-width: 551px) and (max-width: 768px)
{
    .home__text-wrapper h1
    {
        font-size: 3rem;
    }

    .home__text-wrapper
    {
        justify-content:start;
        margin-top: 50px;
    }
}

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {border-color: transparent}
    50% {border-color: var(--green-theme-main-color)}
}