:root{
    --green-theme-background-color: #1d1d1d;
    --green-theme-main-color: #3eff37;
    --green-theme-hover-color: #9dff9a;
    --green-theme-sub-text-color: #ffffff;
    --green-theme-nav-background-color: #181818;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html
{
    font-size: 62.5%;
    height: 100%;
}

body
{
    background: var(--green-theme-background-color);
    height: 100%;
}

#root
{
    height: 100%;
}